 <!-- About Section -->
 <section class="about-section-three">
    <div class="auto-container">
      <div class="row">
        <!-- Content Column -->
        <div class="content-column col-lg-7 wow fadeInRight" data-wow-delay="600ms">
          <div class="inner-column">
            <div class="sec-title">
              <span class="sub-title">HOEXR LUXURY HOTEL</span>
              <h2>Our goal is Ensure Hotel Booking Accessibility.</h2>
              <div class="text">Hoexr in a powerful way of just not an only professions, however, in a passion <br>for our Company. We have to a tendency to believe the idea that smart <br>looking of any website.</div>
            </div>
            <div class="btn-box">
              <a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover More</span></a>
            </div>
            <figure class="image-1 overlay-anim wow fadeInUp"><img style="max-width: 510px;" src="/assets/images/data/Omapoolbar/RCP00305.webp" alt=""></figure>
          </div>
        </div>
        <!-- Image Column -->
        <div class="image-column col-lg-5">
          <div class="inner-column wow fadeInLeft">
            <figure class="image-1 overlay-anim wow fadeInUp"><img style="max-width: 510px;" src="/assets/images/data/Omapoolbar/Rcp.jpg" alt=""></figure>
            <div class="text">We've been in the industry for over two decades now. Consequently, some of our partnerships have stood the test of time, much like some <br>of our colleagues.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Emd About Section -->