
<body style="overflow: hidden;"><div class="Courses" style="padding-top: 0px; ">
    <div style="max-width: 1250px; margin: 0 auto" style="display:flex; justify-content:center; align-items:center; height:100%">
    <div class="row flex-deouti padd-left new-padding-bottom">
        <div class="col-lg-6 align-self-center">
        <div class="abou-heding" style="margin:20px">
        <h1 class="h1error" style="   
    color: #d30303;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 38px;">404</h1>
        <p style="margin-bottom: 40px;">Unfortunately! The page you’re looking for doesn’t exist . Click on link below to go back to Home Page</p>

        <a class="hover1"  href="/" >Home</a>
        </div>
        </div>
        <div class="col-lg-6 align-self-center">
        <div class="content-holder">
        <div class="holder-inner"><img src="/assets/images/day/alphabetz-preschoolmascotgoing%20toschool.webp" alt=""></div>
        </div>
        </div>
        </div>
</div>
  </div>
</body>

