<%- include('header'), {seoDetails} %>

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(/assets/images/data/Omapoolbar/RCP00305.webp);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">About Us</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

<style>
	.page-title {
		position: relative;
	}
	
	.page-title::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
	}
	
	.page-title .auto-container {
		position: relative;
		z-index: 2;
	}

  @media (max-width: 768px) {
    .feature-section-two .auto-container .gap-20{
      gap: 70px;
    }
  }
</style>

  <section class="feature-section-two">
    <div class="auto-container">
      <div class="row gap-20"> 
        <div class="col-lg-6" style="height: 430px;">
          <div class="sec-title" style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
            <div>
            <span class="sub-title">DIRECTORS</span>
            <h3>The Minds Behind Our Vision</h3>
            <div class="text">Mr. Ashish Agrawal and Mr. Amit Goyal are the visionary leaders behind Omaya Suites, shaping its purpose and promise. Their strategic insight and passion for redefining hospitality drive every aspect of our growth. Together, they inspire a culture of excellence that ensures every guest experiences comfort, care, and elevated living.</div>
          </div>
            <div class="btn-box">
              <a href="/gallery" class="theme-btn btn-style-two"><span class="btn-title">Explore Glimpses</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6" >
          <div class="outer-box">
            <div class="row">
                <!-- feature-block -->
                <div class="feature-block-two col-lg-6">
                  <div class="inner-box">
                    <figure class="image"><img style="height: 440px;"  src="/assets/images/Owners/Ashish_agrawal.jpeg" alt="Ashish Agrawal"></figure>
                    <div class="content-box">
                      <h4 class="title"><a href="javascript:void(0)">Ashish Agrawal</a></h4>
                    </div>
                  </div>
                </div>
                <!-- feature-block -->
                <div class="feature-block-two col-lg-6">
                  <div class="inner-box">
                    <figure class="image"><img style="height: 440px;" src="/assets/images/Owners/Amit_goyal.JPG" alt="Amit Goyal"></figure>
                    <div class="content-box">
                      <h4 class="title"><a href="javascript:void(0)">Amit Goyal</a></h4>
                    </div>
                  </div>
                </div>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('footer') %>
