<%- include('header', {seoDetails}) %>

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(/assets/images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Dining</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Dining</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

  <!-- feature-section -->
  <section class="feature-section">
    <div class="auto-container">
      <!-- PRIVATE DINING ( PDR ) -->
      <div class="row feature-row g-0 wow slideInUp" data-wow-delay="100ms">
        <div class="image-column col-lg-4 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image-box">
              <figure class="image overlay-anim"><img src="/assets/images/resource/feature-1.jpg" alt="Private Dining"></figure>
            </div>
          </div>
        </div>
        <div class="content-column col-lg-8 col-md-12 col-sm-12" >
          <div class="inner-column">
            <div class="content-box">
              <div class="sec-title">
                <span class="sub-title">PRIVATE DINING</span>
                <h2>PDR</h2>
                <div class="text">Restaurant inilla duiman at elit finibus viverra nec a  lacus themo the <br>nesudea seneoice misuscipit non sagie the fermen ziverra tristiue duru <br>the ivite dianne onen nivami acsestion augue artine.</div>
              </div>
              <a href="room-details.html" class="theme-btn btn-style-one read-more">Discover More</a>
              <figure class="image-2"><img src="/assets/images/resource/icon.png" alt=""></figure>
            </div>
          </div>
        </div>
      </div>
      
      <!-- OMA KITCHEN (RESTAURANT) -->
      <div class="row feature-row g-0 wow slideInUp" data-wow-delay="200ms">
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="content-box">
              <div class="sec-title">
                <span class="sub-title">RESTAURANT</span>
                <h2>OMA KITCHEN</h2>
                <div class="text">Restaurant inilla duiman at elit finibus viverra nec a 
                lacus themo the <br>nesudea seneoice misuscipit non sagie the fermen
                ziverra tristiue duru <br>the ivite dianne onen nivami acsestion augue artine.</div>
              </div>
              <a href="room-details.html" class="theme-btn btn-style-one read-more">Discover More</a>
              <figure class="image-2"><img src="/assets/images/resource/icon-2.png" alt=""></figure>
            </div>
          </div>
        </div>
          <div class="image-column col-lg-4 col-md-12 col-sm-12">
              <div class="inner-column">
                  <div class="image-box">
                      <figure class="image overlay-anim"><img src="/assets/images/resource/feature-2.jpg" alt="OMA Kitchen"></figure>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- OMA AIR BAR ( ROOF TOP ) -->
      <div class="row feature-row g-0 wow slideInUp" data-wow-delay="300ms">
       <div class="image-column col-lg-4 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image-box">
              <figure class="image overlay-anim"><img src="/assets/images/resource/feature-3.jpg" alt="OMA Air Bar"></figure>
            </div>
          </div>
        </div>
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="content-box">
              <div class="sec-title">
                <span class="sub-title">ROOF TOP</span>
                <h2>OMA AIR BAR</h2>
                <div class="text">Restaurant inilla duiman at elit finibus viverra nec a 
                lacus themo the <br>nesudea seneoice misuscipit non sagie the fermen
                ziverra tristiue duru <br>the ivite dianne onen nivami acsestion augue artine.</div>
              </div>
              <a href="room-details.html" class="theme-btn btn-style-one read-more">Discover More</a>
              <figure class="image-2"><img src="/assets/images/resource/icon-3.png" alt=""></figure>
            </div> 
          </div>
        </div> 
      </div>
      
      <!-- OMA POOL BAR -->
      <div class="row feature-row g-0 wow slideInUp" data-wow-delay="400ms">
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="content-box">
              <div class="sec-title">
                <span class="sub-title">POOL BAR</span>
                <h2>OMA POOL BAR</h2>
                <div class="text">Restaurant inilla duiman at elit finibus viverra nec a 
                lacus themo the <br>nesudea seneoice misuscipit non sagie the fermen
                ziverra tristiue duru <br>the ivite dianne onen nivami acsestion augue artine.</div>
              </div>
              <a href="room-details.html" class="theme-btn btn-style-one read-more">Discover More</a>
              <figure class="image-2"><img src="/assets/images/resource/icon-2.png" alt=""></figure>
            </div>
          </div>
        </div>
        <div class="image-column col-lg-4 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image-box">
              <figure class="image overlay-anim"><img src="/assets/images/resource/feature-1.jpg" alt="OMA Pool Bar"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer') %>

