<%- include('header', {seoDetails}) %>

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(/assets/images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Stays</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Stays</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->
<!-- pricing-section-four -->
<section class="pricing-section-four pt-0 pb-0">
    <div class="auto-container">
   
      <!-- ROYAL SUITES -->
      <div class="pricing-block-four">
        <div class="inner-box content-align-right">
          <div class="row">
            <div class="content-column col-lg-4 col-md-6">
              <div class="inner-column wow fadeInLeft">
                <span class="pricing-amount">$250<span>/ Night</span></span>
                <h3 class="pricing-title">ROYAL SUITES</h3>
                <div class="list-box">
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> Pick & Drop Service</li>
                    <li><i class="icon fa fa-circle-check"></i> Swimming Pool</li>
                  </ul>
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> City Tour Guide</li>
                    <li><i class="icon fa fa-circle-check"></i> Fibre Internet</li>
                  </ul>
                </div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet et vivamus nostra torquent porttitor</div>
                <div class="btn-box">
                  <a href="page-pricing.html" class="btn-style-four">Book Now</a>
                </div>
              </div>
            </div>
            <div class="image-column col-lg-8 col-md-6">
              <div class="image-box">
                <figure class="image wow fadeInUp"><img src="/assets/images/resource/pricing4-1.jpg" alt="Royal Suites"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- DELUXE SUITES -->
      <div class="pricing-block-four">
        <div class="inner-box">
          <div class="row">
            <div class="content-column col-lg-4 col-md-6">
              <div class="inner-column wow fadeInLeft">
                <span class="pricing-amount">$350<span>/ Night</span></span>
                <h3 class="pricing-title">DELUXE SUITES</h3>
                <div class="list-box">
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> 1-2 Persons</li>
                    <li><i class="icon fa fa-circle-check"></i> King Size Bed</li>
                  </ul>
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> Bathtub</li>
                    <li><i class="icon fa fa-circle-check"></i> Free Wifi</li>
                  </ul>
                </div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet et vivamus nostra torquent porttitor</div>
                <div class="btn-box">
                  <a href="page-pricing.html" class="btn-style-four">Book Now</a>
                </div>
              </div>
            </div>
            <div class="image-column col-lg-8 col-md-6">
              <div class="image-box">
                <figure class="image wow fadeInUp"><img src="/assets/images/resource/pricing4-2.jpg" alt="Deluxe Suites"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- EXECUTIVE SUITES -->
      <div class="pricing-block-four">
        <div class="inner-box content-align-right">
          <div class="row">
            <div class="content-column col-lg-4 col-md-6">
              <div class="inner-column wow fadeInLeft">
                <span class="pricing-amount">$450<span>/ Night</span></span>
                <h3 class="pricing-title">EXECUTIVE SUITES</h3>
                <div class="list-box">
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> Premium Amenities</li>
                    <li><i class="icon fa fa-circle-check"></i> Private Balcony</li>
                  </ul>
                  <ul class="list-style-two">
                    <li><i class="icon fa fa-circle-check"></i> Luxury Bathroom</li>
                    <li><i class="icon fa fa-circle-check"></i> High-Speed Internet</li>
                  </ul>
                </div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet et vivamus nostra torquent porttitor</div>
                <div class="btn-box">
                  <a href="page-pricing.html" class="btn-style-four">Book Now</a>
                </div>
              </div>
            </div>
            <div class="image-column col-lg-8 col-md-6">
              <div class="image-box">
                <figure class="image wow fadeInUp"><img src="/assets/images/resource/pricing4-1.jpg" alt="Executive Suites"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End pricing-section -->


<%- include('footer') %>

